
.Pets{
    text-align: center;
    color:rgb(39, 1, 1);
    font-size:4em;
}
.navBar{
    text-align:none;
    margin:0px;
    width:100%;
    height: 4em;
    background-color:rgb(211, 218, 251);
}
ul {
    margin:0;
    padding:0;
    list-style-type: none;
    display:table;
    table-layout:fixed;
    width:100%
}
li[class="a"]{
    display:table-cell;
    border:1px rgb(247, 205, 205) solid;
    padding:5px;
    text-align:center;
body {
    background-image:url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2013/01/24/12/v2-cute-cat-picture.jpg);
    opacity: 100%;
    background-size: cover;
}










